<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tasks</title>
  <link rel="stylesheet" href="css/style.css">
 
   <!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="css/style.css">
<style>

  .container{
    margin:5% !important;
  }
  .course-heading{
    margin-top: 2%;
    margin-bottom: 2%;
  }
  .course-subheading{
  
    margin-bottom: 2%;
  }
  iframe{
    margin:5%;
  }

  .info{
    margin-top: 3%;
  }
  a{
    text-decoration: none;
    color: white;
  }
  a:hover{
    color: white;
  }
</style>
</head>

<body>

  <%- include("navbar.ejs") %>
  <div class="container">
    <center>

      <div class="headings">
       <h2 class="course-heading">Adobe Photoshop Complete Mastery Course Beginner to Advanced</h2>
       <h6 class="course-subheading">Learn Photoshop quickly & easily. Master beginning Adobe Photoshop - from basics to advanced levels (PC, Mac, CS6, CC)</h6>
      </div>
  
      <iframe width="560" height="315" src="https://www.youtube.com/embed/BxX1xUrG_z8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      
      <form action="/visitadobe" method="post">
        <% if(data===true){ %>
          <button type="button" class="btn btn-secondary">Completed</button>
        <%   }else{ %>
         <button type="submit" class="btn btn-success">Mark Completed</button>
        <%  } %>   
      </form> 
    </center>

    <div class="info">
      <h4>What you will learn</h4>

      <ul>
        <li>Beginners will learn how to use Photoshop from scratch.</li>
        <li>You'll learn all of the most important tools, plus how to edit photos, do touch-ups, whiten teeth, crop social media pics, change backgrounds</li>
        <li>This is a very easy to follow course that goes at just the right pace so you don't miss any steps.</li>
        <li>Learn about the interface, including where the tools are and how to customize your workspace.</li>
      </ul>
    </div>
  

  <div class="contents">
    <h4>Contents</h4>
    <ul>
     
      <li>Getting to know photoshop</li>
      <li>Intro to layers in photoshop</li>
      <li>Into to important tools</li>
      <li>Making selection in photoshop</li>
      <li>Layer masks</li>
      <li>Conclusion</li>
      
  </div>

  <div class="requirements">
    <h4>Requirements</h4>
    <ul>
      <li>You don't need to know anything about Photoshop to join this course. We'll start from the very beginning.</li>
      <li>You will need a working computer, and I'll help you with purchasing the right version of Photoshop.</li>
      <li>Photoshop CC is preferred, but with this course, you can learn with older versions as well, like Photoshop CS4 or CS6.</li>
    </ul>
  </div>
  
</div>

<%- include("footer.ejs") %>
</body>
</html>