<footer>
  <div class="container6">
    <div class="row">
      <div class="col col-lg 3 col-md-12 col-12 c51">
        <img src="" alt="" width="200">
        <p style="font-size: 14px;color:black;">© 2010 - 2021, Rakil Ltd.<br/> All rights reserved.</p>
        <div class="social">
          <i style="color:black;" class="fa fa-twitter icon"></i>
          <i style="color:black;" class="fa fa-facebook-f icon"></i>
          <i style="color:black;" class="fa fa-instagram icon"></i>
          <i style="color:black;" class="fa fa-linkedin icon"></i>
          <i style="color:black;" class="fa fa-telegram icon"></i>
        </div>
      </div>
      <div class="col col-lg 3 col-md-12 col-12">
        
        <ul>
          <li><p><b>Company</b></p></li>
          <li><a href="">About</a></li> 
          <li><a href="">Products</a></li> 
          <li><a href="">Pricing</a></li> 
          <li><a href="">Referral programme</a></li> 
          <li><a href="">Careers</a></li> 
        
          <li><a href="">Press & media</a></li> 
         
        </ul>
      </div>
      <div class="col col-lg 3 col-md-12 col-12">
        <ul>
          <li><p><b>Support</b></p></li>
          <li><a href="">Contact</a></li> 
          <li><a href="">Support portal</a></li> 
          <li><a href="">Z-Connect blog</a></li> 
          <li><a href="">List of charges</a></li> 
          <li><a href="">Downloads & resources</a></li> 
          <li><a href="">Videos</a></li> 
        </ul>
      </div>
      <div class="col col-lg 3 col-md-12 col-12">
        <ul>
          <li><p><b>Support</b></p></li>
          <li><a href="">Open an account</a></li> 
          <li><a href="">Fund transfer</a></li> 
          <li><a href="">60 day challenge</a></li> 
        </ul>
      </div>
    </div>
  </div>


    <div class=description>
  <div class="desc">
    
    <span><a href="">Terms & Conditions</a></span>
    <span><a href="">Policies & procedures</a></span>

  </div>
</div>
</footer>