<nav class="navbar">
  <a class="brand" href="#">RAKIL</a>
  <ul>
    <li>
      <a href="/index">Home</a>
    </li>

    </li>
    
    <li>
      <a href="/addtask">Tasks</a>
    </li>
    <li>
      <a href="/courses">Courses</a>
    </li>

    <li>
      <a href="/profileview">Profile</a>
    </li>
    
    <li>
      <a href="/logout">Log Out</a>
    </li>

  </ul>
</nav>