<!DOCTYPE html>
<html>
<head>
 
   <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
  <!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
 <link rel="stylesheet" href="css/login_style.css">
 <style>
   body{
     background-color: black;
     color: honeydew;
   }
   .cont{
     margin-top: 5%;
     margin-bottom: 3%;
   }
  
  
 </style>
</head>
 
<body>
  
    
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  <section class="container-fluid cont">
 
    <section class="row justify-content-center sec">
      <section class="col-12 col-sm-6 col-md-4">
        <form class="form-container" action="/register" method="post" >

        <div class="form-group">
          <h1>Welcome to LMS !</h1><br>
          <h4 class="text-center font-weight-bold"> Sign in </h4>
          <label for="fn">Firstname</label>
           <input type="text" class="form-control" id="fn" name="firstname" placeholder="Enter firstname" >
        </div>

        <div class="form-group">
          <label for="ln">Lastname</label>
           <input type="text" class="form-control" id="ln" name="lastname" placeholder="Enter lastname">
        </div>

        <div class="form-group">
          <label for="pn">Mobile No</label>
           <input type="text" class="form-control" id="pn" name="phone" placeholder="Enter mobile number">
        </div>

        <div class="form-group">
          <label for="pn">Profile picture</label>
           <input type="file" class="form-control" id="pn" name="" >
        </div>

        <div class="form-group">
          <label for="InputEmail1">Email Address</label>
           <input type="email" class="form-control" id="InputEmail1" name="email" placeholder="Enter email">
        </div>

        <div class="form-group">
          <label for="InputPassword1">Password</label>
          <input type="password" class="form-control" id="InputPassword1" name="password" placeholder="Enter Password">
        </div>

        <div class="form-group">
          <label for="InputPassword2">Confirm Password</label>
          <input type="password" class="form-control" id="InputPassword2" name="confirmpassword" placeholder="Confirm Password">
        </div>

        <button type="submit" class="btn btn-primary btn-block" value="Register"  id="submit">Register</button>
       
        <div class="form-footer">
          <p> Have an account? <a href="/login">Login</a></p>
        </div>

        </form>
      </section>
    </section>
  </section>

</body>
</html>